/*bocompa css*/



#main-content {
  width: 960;
  margin: 0, 15px, 0, 15px;
}

.my-map {
  height: 500px;
}

.container {
  width: 900px;
}
.button5 {
	margin-top: 5%;
	z-index: 5
}

.chart {
	margin-top: -58%;
  position: relative;
	/*margin-left: ;*/
  /*transition: fill 0.2s ease;*/
}


#tt {

  font-size: 13px;
  background-color: #FFF;
  padding: 8px;
  position: absolute;
  border: 1px solid #CCC;

}


#tt .votes {
  text-align: right;
}

.boco {
color: #555962;

}

.bocomap-edges {
  fill: none;
  stroke: #000;
  stroke-width: .25px;
  /*stroke-dasharray: 2,2;*/
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;


}

.R {
fill: #AA3939;

}

.D {
fill: #23438B;

}

.L{
fill : #A37A00;	
}

.NaN{

fill: #828282;
}

.tooltip{ background-color:rgba(68,136,187,0.5);;
          margin: 10px;
          height: 50px;
          width: 150px;
          padding-left: 10px; 
          padding-top: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
        }

#infobox {
	margin-top: -85%;
	margin-left: 70%;
	width: 200px;
	height: 500px;
}

/*opacity*/
.forty-fortyfive {
opacity: .90;
}

.fortysix-fifty{
opacity: .85;
}

.fiftyone-fiftyfive {
opacity: .80;
}

.fiftysix-sixty {
opacity: .75;
}

.sixtyone-sixtyfive {
opacity: .70;
}

.sixtysix-seventy {
opacity: .65;
}

.seventyone-seventyfive {
opacity: .60;
}

.seventysix-eighty {
opacity: .55;
}

.eightone-eightyfive {
opacity: .50;
}

.eightysix-ninety {
opacity: .45;
}